# # TestResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**confidence** | **float** |  | [optional] 
**date_run** | **string** |  | [optional] 
**intent** | **string** |  | [optional] 
**entities** | [**\OpenAPI\Client\Model\Entity[]**](Entity.md) |  | [optional] 

[[Back to Model list]](../../README.md#documentation-for-models) [[Back to API list]](../../README.md#documentation-for-api-endpoints) [[Back to README]](../../README.md)


